<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let item of [1,1,1,1,1,1,1]; let i=index">
          <ion-card>
            <ion-img src="/assets/dummy.jpeg"></ion-img>
            <ion-card-content>
              <ion-card-title>
                Lorem
              </ion-card-title>
              <p>Lorem tem, ipsum lorol ahora si que se puede apreciar la vista, con esos lagos!</p>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-col>

  </ion-col>
  
  <!-- <ion-button color="danger" fill="outline" shape="round">Add Todo</ion-button>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1]; let i=index">
      <ion-badge slot="start">{{i + 1}}</ion-badge>
      <ion-label>
        <h2>Lreom</h2>
      <p>Loreom Ipsun</p>
      </ion-label>
      <ion-badge slot="end" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-badge>
    </ion-item>
  </ion-list> -->
</ion-content>
